<?xml version='1.0'?>
<launch>
       <!-- Make sure that the map tile server is running -->
       <!--$sudo docker run -p 8080:8080 -d -t -v ~/mapproxy:/mapproxy danielsnider/mapproxy -->

        <node pkg="tf2_ros" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0 map /world"/>

	<!-- visualize map with mapviz -->
	<node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
		<param name="local_xy_frame" value="map"/>
    	<param name="local_xy_origin" value="map"/>
    	<rosparam param="local_xy_origins">[{ name: map, latitude: 39.326465, longitude: -76.621554, altitude: 0, heading: 0.0}]</rosparam>
  	</node>

	<node pkg="mapviz" type="mapviz" name="mapviz">
		<param name="config" value="$(find ugv_localization)/launch/mapviz.mvc"/>
	</node>
	
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ugv_localization)/launch/rviz_satellite.rviz"/>

	<!-- click waypoints and generate trajectory -->
	<include file="$(find ugv_localization)/launch/gen_traj.launch"/>

</launch>
