<?xml version='1.0'?>
<launch>

	<!-- replay bag data -->
	<param name="use_sim_time" value="true"/>

	<node pkg="rosbag" type="play" name="rosbag_play" args="$(find ugv_localization)/bag/test_03.bag --clock"/>

	<node name="world_frame_gps_publisher" pkg="ugv_localization" type="world_frame_gps_publisher.py" output="screen" launch-prefix=""/>

	<node pkg="tf2_ros" type="static_transform_publisher" name="world2odom" args="0 0 0 0 0 0 1 world map"/>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ugv_localization)/rviz/rviz_satellite.rviz"/>

</launch>
	
