<launch>

	<node pkg="rosbag" type="play" name="rosbag_play" args="$(find ugv_localization)/bag/kejia_localization.bag"/>

    <node pkg="gps_common" type="utm_odometry_node" name="utm_odometry_node" clear_params="true">
    	<remap from="fix" to="rtk_ublox/fix"/>
        <remap from="odom" to="odometry/utm"/>

        <param name="frame_id" value="/world"/>
        <param name="child_frame_id" value="/base_link"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ugv_localization)/rviz/robot_localization.rviz"/>

</launch>
