<launch>

	<!-- replay bag data -->
	<param name="use_sim_time" value="true"/>

	<node pkg="rosbag" type="play" name="rosbag_play" args="$(find ugv_localization)/bag/test_03.bag --clock"/>


	<!-- refine imu topic into base_link frame -->
	<node pkg="ugv_localization" type="imu_combine.py" name="imu_refine" output="screen">
		<param name="mode" value="refine"/>
	</node>


	<!-- get 2D baseline odometry using wheel encoder and imu -->
	<node pkg="ugv_localization" type="wheel_imu_odom.py" name="wheel_imu_odom" args="/wheel_odometry /imu/refined /odometry/wheel_imu" output="screen"/>


	<!-- publish utm to world frame transformation -->
	<node pkg="ugv_localization" type="datum_tf_node" name="datum_tf_node" output="screen">
		<param name="latitude" type="double" value="39.326465"/>
		<param name="longitude" type="double" value="-76.621554"/>
		<param name="yaw" type="double" value="0.0"/>
		<param name="frame_id" type="string" value="utm"/>
		<param name="child_frame_id" type="string" value="map"/>
	</node>


	<!-- fusion by robot_localization package -->
 	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node" clear_params="true">
		<rosparam command="load" file="$(find ugv_localization)/config/test_03_local/ekf_odom_imu_gps.yaml"/>
	</node>

    <!-- node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" clear_params="true">
    	<rosparam command="load" file="$(find ugv_localization)/config/test_03_local/navsat_transform.yaml"/>
    
    	<remap from="imu/data" to="gps/navheading"/>
    	<remap from="gps/fix" to="gps/fix"/>
    	<remap from="odometry/filtered" to="odometry/filtered"/>
 	</node -->


    <!-- publish required tf (transformation) -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link2gps" args="0 0 0 0 0 0 base_link gps"/>


	<!-- plot in python -->
    <!--node pkg="ugv_localization" type="plot_traj.py" name="plot_traj_odom" args="/odometry/wheel_imu odom" output="screen"/-->

    <!--node pkg="ugv_localization" type="plot_traj.py" name="plot_traj_imu" args="/imu_3dm/imu imu" output="screen"/-->

	<!--node pkg="ugv_localization" type="plot_traj.py" name="plot_traj_gps" args="/rtk_ublox/fix gps" output="screen"/-->

	<!-- node pkg="ugv_localization" type="plot_curve.py" name="plot_curve" output="screen"/-->


	<!-- convert NatSatFix message to GPSFix message for visualization by mapviz -->
	<!-- node pkg="gps_common" type="fix_translator" name="fix_translator">
		<remap from="/navsat_fix_in" to="/rtk_ublox/fix"/>
		<remap from="/gps_fix_out" to="/gps_fix_out"/>
	</node-->

	<node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
		<param name="local_xy_frame" value="map"/>
    	<param name="local_xy_origin" value="map"/>
    	<rosparam param="local_xy_origins">[{ name: map, latitude: 39.326465, longitude: -76.621554, altitude: 0, heading: 0.0}]</rosparam>
  	</node>

	<node pkg="mapviz" type="mapviz" name="mapviz">
		<param name="config" value="$(find ugv_localization)/config/mapviz.mvc"/>
	</node>
	

	<!-- visualize in rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ugv_localization)/rviz/local.rviz"/>

</launch>
